* {
  margin: 0;
  padding: 0;
}


.tea-head{
  display:flex ;
  width: 90%;
  margin: 0 auto;
  padding: 50px;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.tea-house-discription{
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 20px;
}

.tea-title{
  font-size: 50px;
  line-height: 60px;
}
.tea-house-discription p{
  color: #777777;
  line-height: 30px;
}
.hero-button{
  color: aliceblue;
  padding: 15px;
  border-style: none;
  background: linear-gradient(to right, rgb(255, 187, 0), rgba(230, 12, 12, 0.959) );
  width: 30%;
  border-radius: 5px;
}

.tea-image{
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 30px;
}
.rating{
  background-color: rgb(244, 248, 248);
  padding: 20px;
  width: 30%;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: relative;
  margin-top:-18%;
  margin-left: 15%;
}

.ourProduct{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
.productTitle{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  padding: 30px;
}
.productTitle p{
  color: #777777;
  font-size: 15px;


}
.ourProductDiscription{
  display: flex;
  gap: 30px;
  width: 80%;
  margin: 0 auto;

}

.ourProductDiscription div{
  background: linear-gradient(to top, rgb(255, 255, 255), rgba(241, 239, 239, 0.959));
  padding: 10px;
  border-radius: 5px;
  

}

.ourProductTittle{
  font-size: 20px;
  padding: 10px;
}

.great-tea{
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding-top: 10%;
  gap: 50px;
}
.uniqueTea{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: 100px auto;
  width: 50%;
 grid-gap: 1em;
}
.great-Tea-img1{
background: rgba(230, 166, 35, 0.1);
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 30px;
  border-radius: 5px;
}


.emty1{
  width: 200px;
  height: 100px;
  background: linear-gradient(to left, rgb(209, 206, 206), rgba(255, 253, 253, 0.959));
  border-radius: 5px;
  

}
.emty2 {
  width: 200px;
    height: 100px;
    background: linear-gradient(to left, rgb(255, 255, 255), rgba(211, 206, 206, 0.959));
    border-radius: 5px;
}
.great1{
background: rgba(87, 118, 57, 0.1);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}
.great2 {
  background: rgba(230, 166, 35, 0.1);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  
}


.great-tea{
  display: flex;
  width: 80%;
  margin: 0 auto;

}



.tea-warper {
  display: flex;
  gap: 20px;
  
}



.great-Tea-Discription {
  display: flex;
  flex-direction: column;
  gap: 20px;
  

}

.great-tea-title{
  font-size: 45px;
  font-family: 'Manrope';
}
.discroption{
    font-size: 16px;
    color: #777777;
    line-height: 20px;
    width: 85%;
    

}

.subDiscription{
  font-size: 16px;
  color: #777777;
  width: 65%;
  line-height: 20px;


}

.subTitle{
  font-size: 20px;
}

.meetOurClients{
  display: flex;
  align-items: center;
  text-align: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 10%;
  padding-bottom: 10%;
  
}

.mainWarper{
  padding: 10%;
  background: linear-gradient(to left, rgb(255, 34, 5),rgb(243, 98, 1));
  border-radius: 10px;

}

.clients-title{
  font-size: 45px;
  color: #fff;
  line-height: 60px;
}

.clientDiscription{
  color: #fff;
  font-size: 20px;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 20px;

}
.mainWarper button{
background-color: #fff;
border: none;
padding: 10px 20px; 
border-radius: 5px;
font-size: 20px;
transition: 0.5s;
}

.mainWarper button:hover{
  color: white;
  background: linear-gradient(270deg, #FF0000 0%, #FF8938 100%);
}

.news-warper{
display: flex;
flex-direction: column;

width: 80%;
margin: 0 auto;
}


.news-title{
  display: flex;
  flex-direction: column;
  width: 73%;
  gap: 20px;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 30px;
}

.event-title{
  font-size: 45px;
}
.news-title p{
  color: #777777;
  font-size: 16px;
}

.newsDiscription{
  display: flex;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding-bottom: 10%;

}

.Box1{
  border: 1px solid #D2D2D2;
  border-radius: 10px;
  padding: 20px;
  
  
}


.imgDiscription{
  text-align: left;
  padding-left: 20px;
  gap: 20px;
}

.imgDiscription p{
  color: #777777;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.discountTitle{
  font-size: 20px;
}

.more{
  font-size: 20px;
}
.more a{
text-decoration: none;
color: #000;
}
footer{
  width: 100%1;
  height: 600px;
  background: linear-gradient(270deg, rgba(255, 0, 0, 0.1) 0%, rgba(255, 137, 56, 0.1) 100%);

}


.mainFooter{
padding: 5%;
display: flex;
justify-content: space-between;
width: 80%;
margin: 0 20px;
align-items: center;
}

.Logo{
  padding-left: 40px;
}

.startWarper{
  display: flex;
  gap: 20px;
  align-items: center;
}
.startWarper p{
  font-size: 20px;
  color: #777777;
}

.startWarper button{
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
  background: linear-gradient(270deg, #FF0000 0%, #FF8938 100%);
  border: none;
  border-radius:5px;
  color: #fff;
}

.footerMenu{

  display: flex;
  gap: 5%;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  padding-bottom: 5%;
 
}

.quickLink{
  line-height: 40px;
}

ul li{
list-style: none;
color: #777777;
}

.SubsCribe h2{
  line-height: 35px;
  padding-bottom: 20px;
  font-size: 24px;
}

.SubsCribe p{
  color: #777777;
  font-size: 14px;
  padding-bottom: 15px;
  border-bottom: 1px solid #777777;

}

.vector{
  display: flex;
  gap: 20px;
  padding-top: 20px;
}

.copyrightClaim{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  color: #494949;
}